.home-screen {
    font-family: Arial, sans-serif;
    background-image: url('../assets/img/homescreen/Pandawa-bg.png'); /* Sesuaikan dengan path yang benar */
    background-size: cover; /* Menutupi seluruh area */
    background-position: center; /* Pusatkan gambar */
    color: #fff;
  }
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff; /* Warna biru */
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  .logo span {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .search-bar {
    flex-grow: 1;
    margin: 0 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
  }
  
  .nav-bar {
    display: flex;
    list-style: none;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .nav-bar a:hover {
    background-color: #0056b3;
  }
  
  .main-content {
    text-align: center;
    padding: 20px;
  }
  
  .search-options {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .option-button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .form-input {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .search-button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .recommended-section {
    text-align: left;
    margin: 20px;
    color: #333; /* Warna teks untuk bagian rekomendasi */
    background-color: rgba(255, 255, 255, 0.8); /* Latar belakang putih dengan transparansi */
    padding: 20px;
    border-radius: 10px;
  }
  
  .recommended-section h2,
  .recommended-section h3 {
    color: #000; /* Warna teks untuk judul */
  }
  
  .beach-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
  }
