.welcome-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Mengisi seluruh tinggi viewport */
  width: 100vw; /* Mengisi seluruh lebar viewport */
  background: url('../assets/img/welcome/welcome.png') no-repeat center center fixed;
  background-size: cover; /* Menutupi seluruh area elemen */
  text-align: center;
  color: white;
  padding: 0; /* Menghilangkan padding */
  border: none; /* Menghilangkan border */
  margin: 0; /* Menghilangkan margin */
  font-family: 'Gill Sans MT', sans-serif;
  font-weight: normal; /* Menetapkan font style regular */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ini membantu mengelola layout lebih prediktif */
}

h1 {
  font-size: 63px;
  margin-bottom: 10px; /* Mengurangi margin bawah */
  color: black;
  letter-spacing: -1px; /* Mengurangi jarak antar karakter */
}

p {
  font-size: 30px;
  margin-top: 6px; /* Menghilangkan margin atas */
  font-family: 'Hanuman', serif; /* Menggunakan font Hanuman */
  color: black;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white; /* Warna teks */
  background-color: rgba(0, 0, 0, 0); /* Background transparan */
  border: 2px solid black; /* Garis border putih dengan ketebalan 2px */
  border-radius: 20px; /* Membulatkan sudut */
  cursor: pointer; /* Tampilan cursor sebagai pointer */
  width: 200px;
  height: 50px;
}

button:hover {
  background-color: rgb(0, 0, 0); /* Hitam dengan transparansi 70% saat di-hover */
}

.circle {
  background-color: black;
  color: white;
  border-radius: 50%; /* Membuat bentuk lingkaran */
  padding: 5px 30px; /* Tambahkan padding horizontal untuk membuat lingkaran lebih besar */
  display: inline-block;
  font-family: 'Gill Sans MT', sans-serif;
  font-weight: normal; /* Menetapkan font style regular */
  margin-right: -100px; /* Mengurangi jarak ke elemen berikutnya */
}

@media (max-width: 768px) {
  .welcome-screen {
    font-size: 90%; /* Mengurangi ukuran font secara umum */
  }

  h1 {
    font-size: 48px; /* Mengurangi ukuran font untuk h1 */
  }

  p {
    font-size: 24px; /* Mengurangi ukuran font untuk paragraf */
  }

  button {
    width: 150px; /* Mengurangi lebar tombol */
    height: 40px; /* Mengurangi tinggi tombol */
    font-size: 0.8rem; /* Mengurangi ukuran font pada tombol */
  }
}

@media (max-width: 480px) {
  .welcome-screen {
    font-size: 80%; /* Lebih kecil lagi untuk layar yang sangat kecil */
  }

  h1 {
    font-size: 36px; /* Lebih kecil lagi untuk h1 */
  }

  p {
    font-size: 18px; /* Lebih kecil lagi untuk paragraf */
  }

  button {
    width: 120px; /* Lebih kecil lagi untuk tombol */
    height: 35px; /* Lebih kecil lagi untuk tinggi tombol */
    font-size: 0.7rem; /* Lebih kecil lagi untuk font tombol */
  }
}